/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: http://dev7studios.com
*/

.theme-orman.slider-wrapper {
    width: 750px;
    height: 265px;
    position:relative;
}

.theme-orman .nivoSlider {
    position:relative;
    width:750px;
    height:265px;
    background: url(../PAGINA/loading.gif) no-repeat 50% 50%;
}
.theme-orman .nivoSlider img {
	position:relative;
    top:0px;
    width:625px; /* Make sure your images are the same size */
    height:375px; /* Make sure your images are the same size */
}
.theme-orman .nivoSlider a {
    border:0;
    display:block;
}

.theme-orman .nivo-controlNav-bg {
	position: absolute;
	left: -49px;
	bottom: -2px;
	width: 750px;
	height: 44px;
	z-index: 100;
}

.theme-orman .nivo-controlNav {
    position:absolute;
	left: 472px;
	bottom: 4px;
    margin-left:-30px; /* Tweak this to center bullets */
	z-index: 101;
}
.theme-orman .nivo-controlNav a {
    display:block;
    width:12px;
    height:12px;
    background: url(../PAGINA/slider.png) no-repeat;
    text-indent:-9999px;
    border:0;
	margin-left:5px;
    float: left;
	top:-10px;
}
.theme-orman .nivo-controlNav a.active {
    background-position:0 -12px;
}

.theme-orman .nivo-directionNav a {
	display:block;
	width:25px;
	height: 100px;
	text-indent:-9999px;
	border:0;
    top:40px;
}
.theme-orman a.nivo-nextNav {
	background-position:50% 50%;
	right:-24px;
    padding-right:20px;
}
.theme-orman a.nivo-prevNav {
	left:-24px;
    padding-left:20px;
}

.theme-orman .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-orman .nivo-caption a { 
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-orman .nivo-caption a:hover { 
    color:#fff;
}

.theme-orman .ribbon {
	background:url(../images/ribbon.png) no-repeat;
	width:111px;
	height:80px;
	position:absolute;
	top:1px;
	left: 2px;
	z-index:200;
}
